<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.workfit.workfitapps">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/workfit_main_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.example.workfit.AndroidDatabaseManager" />
        <activity android:name="com.example.workfit.activities.Register" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.example.workfit.activities.Home" />
        <activity android:name="com.example.workfit.activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.workfit.activities.ChooseWorkout" />
        <activity android:name="com.example.workfit.workoutActivities_Abs.Easy_Abs1" />
        <activity android:name="com.example.workfit.workoutActivities_Abs.Easy_Abs2" />
        <activity android:name="com.example.workfit.workoutActivities_Abs.Easy_Abs3" />
        <activity android:name="com.example.workfit.workoutActivities_Abs.Easy_Abs4" />
        <activity android:name="com.example.workfit.workoutActivities_Abs.Easy_Abs_Result" />
        <activity android:name="com.example.workfit.activities.WorkoutDetails_Abs" />
        <activity android:name="com.example.workfit.activities.WorkoutDetails_Arm" />
        <activity android:name="com.example.workfit.activities.WorkoutDetails_Leg" />
    </application>

</manifest>